{% extends 'allauth/default.html' %}

{% block title %}
Авторизация
{% endblock title %}

{% block content %}
    <h1 class="page-header">Вход с помощью Yandex</h1>
    <div class="page-content">
        <div class="post-content">
            <form method="post" action="{% url 'account_login' %}" class="post-form">
            {% csrf_token %}
                {{ form.as_div }}
                <input type="submit" value="login">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>
{% endblock %}