{% extends "allauth/default.html" %}

{% block title %}
Авторизация
{% endblock title %}

{% block content %}
    <h1 class="page-header">Регистрация</h1>
    <div class="page-content">
        <div class="post-content">
            <div class="auth-link"><a href="/accounts/yandex/login/?process=login">Яндекс</a></div>
            <form method="post" class="post-form">
            {% csrf_token %}
                {{ form.as_div }}
                <input type="submit" value="Sing up">
            </form>
        </div>
    </div>
{% endblock %}